# Hugo build output
/public/
/resources/_gen/

# Logs
*.log

# OS / Editor files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp
*.tmp

# Node modules (if user later adds them)
node_modules/

# Hugo environment files
.hugo_build.lock
