{{- /* YouTube Embed Shortcode */ -}}

{{- $id := .Get "id" | default (.Get 0) -}}
{{- $title := .Get "title" | default "YouTube Video" -}}
{{- $autoplay := .Get "autoplay" | default "false" -}}
{{- $start := .Get "start" | default "" -}}

{{- $src := printf "https://www.youtube.com/embed/%s" $id -}}
{{- if eq $autoplay "true" -}}
  {{- $src = printf "%s?autoplay=1" $src -}}
{{- end -}}
{{- if $start -}}
  {{- if strings.Contains $src "?" -}}
    {{- $src = printf "%s&start=%s" $src $start -}}
  {{- else -}}
    {{- $src = printf "%s?start=%s" $src $start -}}
  {{- end -}}
{{- end -}}

<div class="youtube-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin: 1.5rem 0;">
  <iframe 
    src="{{ $src }}" 
    title="{{ $title }}"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen
    loading="lazy">
  </iframe>
</div>
